<div class="wrapper">
  <div class="profile-picture">
    <img src="https://www.computerhope.com/jargon/g/guest-user.jpg" alt="" />
  </div>

  <div class="user-info">
    <div class="username">
      <label for="Name">Username: </label>
      <div class="username-value">{{ user?.username }}</div>
    </div>

    <div class="name">
      <div class="firstname">
        <label for="First Name">First Name: </label>
        <div class="firstname-value">
          {{ user?.first_name | titlecase }}
        </div>
      </div>
      <div class="lastname">
        <label for="Last Name">Last Name: </label>
        <div class="lastname-value">
          {{ user?.last_name | titlecase }}
        </div>
      </div>
    </div>

    <div class="email">
      <label for="Email">Email: </label>
      <div class="email-value">{{ user?.email }}</div>
    </div>

    <div class="phone">
      <label for="Phone ">Phone: </label>
      <div class="phone-value">{{ user?.phone }}</div>
    </div>
  </div>
</div>
