<form [formGroup]="noteForm" (ngSubmit)="onSubmit()" class="wrapper" action="">
  <div class="note-title">
    <h3>
      <input
        formControlName="title"
        type="text"
        name="title"
        value="{{ note?.title }}"
      />
    </h3>
  </div>
  <div class="note-date-wrapper">
    Last Modified:
    <div class="note-date">
      {{
        (!note?.updated_at ? note?.created_at : note?.updated_at)
          | date: "mediumDate"
      }}
    </div>
  </div>
  <div class="note-body">
    <textarea formControlName="body" name="body" value="{{ note?.note_body }}">
    </textarea>
  </div>
  <button type="submit" class="btn-save-note">Save</button>
</form>
