<div class="wrapper">
  <div class="container wrapper-top">
    <div
      routerLink="./user-details"
      name="user-profile"
      class="container-fluid border user-profile shadow"
    >
      <div class="user-image">
        <img
          src="https://www.computerhope.com/jargon/g/guest-user.jpg"
          alt=""
          class="rounded-circle"
        />
      </div>
      <div class="user-name text-capitalize">{{ username }}</div>
    </div>
  </div>
  <div class="wrapper-middle container">
    <div
      (click)="reloadPage($event)"
      routerLink="/user/notes"
      class="my-notes shadow p-3"
    >
      <span><i aria-hidden="true" class="bi bi-stickies"></i></span>
      <div
        id="my-notes-text"
        class="container justify-content-center text-nowrap"
      >
        My Notes
      </div>
    </div>
    <div routerLink="/user/calendar" class="calendar shadow p-3">
      <span><i aria-hidden="true" class="bi bi-calendar"></i></span>
      <div
        id="calendar-text"
        class="container justify-content-center text-nowrap"
      >
        Calendar
      </div>
    </div>
  </div>

  <div class="container wrapper-bottom">
    <div class="logout">
      <button (click)="onLogout()" class="btn-logout">Logout</button>
    </div>
  </div>
</div>
