.nav {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  border-right: solid lightgray;
  padding-right: 15px;

  height: 100%;
}

.wrapper-top {
  height: 20%;
}

.wrapper-middle {
  height: 60%;
}
.wrapper-middle > div {
  margin-bottom: 20px;
}

.wrapper-bottom {
  height: 20%;
  display: flex;
  justify-content: end;
}

.user-profile {
  display: flex;
  // width: max-content;
  padding: 10px 0 10px 10px;
  margin-top: 45px;
  cursor: pointer;
  // align-items: center;
}
// .user-image {
//   width: 40%;
// }

.user-image > img {
  width: 60px;
}
.user-name {
  //   display: flex;
  padding-left: 15px;
  font-size: larger;
  //   justify-content: center;
}

.my-notes,
.calendar,
.logout {
  display: flex;
  height: min-content;
  max-width: 100%;
  cursor: pointer;
}

.logout {
  display: flex;
  justify-content: center;
  min-width: 180px;
}

.btn-logout {
  border: 0;
  border-radius: 25px;
  display: flex;
  padding: 20px;
  height: fit-content;
  justify-content: center;
  flex-basis: 100%;
}

.user-profile:hover,
.btn-logout:hover,
.my-notes:hover,
.calendar:hover {
  background-color: lightgray;
  filter: brightness(85%);
}

//tablets
@media (max-width: 1130px) {
  .wrapper {
    display: none;
    flex-direction: row;
    min-height: 100%;
    width: 100%;
    align-items: center;
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0;
    border-bottom: inset lightgray;
  }
  // .wrapper-top {
  //   display: flex;
  //   height: 100%;
  // }

  // .user-profile {
  //   margin: 0;
  //   padding-right: 10px;
  // }

  // .wrapper-middle {
  //   display: flex;
  //   flex-direction: row;
  //   width: 100%;
  // }
  // .wrapper-middle > div {
  //   margin: 0;
  // }

  .sidenav .my-notes {
    border-top: solid gray;
  }
  img {
    max-width: 35px;
  }

  .nav {
    display: flex;
    gap: 20px;
    box-sizing: border-box;

    border-bottom: solid gray;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .app-title {
    text-align: center;
  }
  .app-title > h4 {
    text-align: center;
    line-height: 50px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;

    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  .sidenav .wrapper-top .user-profile {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .sidenav .wrapper-top .user-profile .dropdown {
    margin-right: 10px;
    border-left: solid 1px;
    display: flex;
  }
  .sidenav .wrapper-top .user-profile .dropdown > span {
    padding-left: 20px;
    align-self: center;
  }

  .user {
    display: flex;
    // width: max-content;
    padding: 10px 0 10px 10px;
    cursor: pointer;
    align-items: center;
  }

  .dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 6;
    top: 20px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  #closebtn {
    font-size: 2rem;
    align-self: flex-end;
    margin-right: 20px;
  }
}

// @media (max-width: 1130px) {
//   .wrapper {
//     min-width: 350px;
//   }
// }
//mobile
// @media (max-width: 766px) {
//   #my-notes-text {
//     display: none;
//   }
//   #calendar-text {
//     display: none;
//   }
// }

//mobile
@media (max-width: 500px) {
}
