.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.wrapper > div {
  margin: 10px;
}

.note-date {
  font-style: italic;
  font-weight: 100;
  padding-left: 10px;
}

.note-date-wrapper {
  display: flex;
  font-weight: 400;
}

.note-body {
  padding: 10px;
  height: 400px;
  border-radius: 10px;
  background-color: lightgray;
  overflow: scroll;
}

.btn-edit-note {
  align-self: flex-start;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  margin: 10px;
}

.btn-edit-note:hover {
  filter: brightness(85%);
}
