<form [formGroup]="noteForm" (ngSubmit)="onSubmit()" class="wrapper">
  <div class="note-title">
    <h3>
      <input
        formControlName="title"
        name="title"
        type="text"
        placeholder="Note Title"
      />
    </h3>
  </div>

  <div class="note-body">
    <textarea
      formControlName="body"
      name="body"
      placeholder=" Note description..."
    ></textarea>
  </div>
  <div class="date">
    <div class="start_date">
      <label for="start date">Start date</label>
      <input
        type="text"
        mwlFlatpickr
        type="date_input"
        [altInput]="true"
        [convertModelValue]="true"
        [(ngModel)]="start_date"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="end_date">
      <label for="end date">End date</label>
      <input
        type="text"
        mwlFlatpickr
        type="date_input"
        [altInput]="true"
        [convertModelValue]="true"
        dateFormat="Y-m-dTH:i"
        [(ngModel)]="end_date"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
  </div>

  <button type="submit" class="btn-save-note">Save</button>
</form>
