$yellow: #f5ba1a;
$black: #000000;
$grey: #cccccc;

.wrapper {
  background: #fff;
  border-top: 5px solid $yellow;
  margin-top: 40px;
  margin-left: 15px;

  border-left: solid lightgray;
  border-bottom: solid lightgray;

  // max-width: 100%;
}

.min-wrapper {
  display: flex;
  min-height: 95vh;
  // height: 100%;
}

.nav-bar {
  width: max-content;
}

//tablets
@media (max-width: 1130px) {
  .nav-bar {
    width: 100%;
    font-size: 1.1rem;
  }

  .min-wrapper {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (max-width: 575px) {
  .wrapper {
    min-width: 500px;
  }
}

// @media (max-width: 576px) {
//   .content {
//     flex: 0 0 auto;
//     width: 83.33333333%;
//   }
// }
