<!-- <div class="wrapper mt-5 mx-3">
  <div class="container-fluid min-wrapper border">
    <div class="row">
      <div class="nav-bar col-sm-2">
        <div class="demo-content"><app-navbar></app-navbar></div>
      </div>
      <div class="content col-sm-10">
        <div class="demo-content bg-alt">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="wrapper mt-5 mx-3">
  <div class="container-fluid min-wrapper border">
    <div class="nav-bar col-sm-2">
      <div class="demo-content"><app-navbar></app-navbar></div>
    </div>
    <div class="content col-sm-10">
      <div class="demo-content bg-alt">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
